body{
    font-family:monospace;
    text-align: center;
    background-image: url(https://images.cdn3.stockunlimited.net/preview1300/blue-triangles-background_1845085.jpg);
  }

  .angles{
    height: 100px;
    background-color: darkblue;
    padding: 20px;
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px black;
    opacity: 90%;
   }
   
   .link{
    padding: 0px 15px;
      text-decoration: none;
      color: white;
      text-align: right;
      float: right;
      margin: auto;
      font-size: large;
   } 

  .heading{
    color: white;
    text-align:center;
    padding:0.5rem 1rem;
    font-size: larger;
    font-weight: 1200;
    font-size: 30px;
    font-family:cursive;
  }

  .heading2{
    color: white;
    text-align:center;
    padding:0.5rem 1rem;
    font-size: large;
    font-weight: 600;
    font-size: 20px;
    font-family:cursive;
  }

  .label{
    color: white;
    max-width: 600px;
    margin: auto;
    display: block;
    font-size: small;
    font-weight: 600;
    font-family:cursive;
    font-size:25px;
  }

  .sides{
    text-align: center;
    font-size: 20px;
    outline: #fff;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: 2px solid;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
    align-content: center;
  }

  #area-of-triangle{
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    margin-top: 20px;
    display: block;
  }

  #area-of-triangle:hover{
    color: white;
    background: black;
  }

  #output{
    color: white;
    height:115px;
    width:500px;
    margin-right:auto;margin-left:auto;
    margin-top:25px;
    font-size: medium;
    font-weight: 300;
    font-family:cursive;
    font-size:25px;
  }